.movies {
    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .movies__nothingFound {
    margin: 0;
    color: #ff0000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }