.profile {
    margin: 0;
    width: 100%;
  }
  
  .profile__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    padding: 72px 30px 70px 30px;
    box-sizing: border-box;
  }
  
  .profile__title {
    margin: 0;
    color: #000000;
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .profile__data {
    margin: 106px 0 0 0;
    width: 410px;
    list-style: none;
    padding: 0;
    display:flex;
    flex-direction: column;
  }
  
  .profile__item {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 18px;
    padding-bottom: 12px;
  }
  
  .profile__item:first-of-type {
    border-bottom: 1px solid rgba(66, 66, 66, 1);
  }
  
  .profile__item:has(.profile__input:focus) {
    border-bottom: 2px solid #3DDC84;
  }
  
  .profile__item-content {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile__item-name {
    margin: 0;
    min-width: 8ch;
    color: #000000;
    font-size: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .profile__input {
    padding: 0;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #000000;
    text-align: right;
    font-size: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .profile__input:focus {
    outline: none;
  }
  
  .profile__input_type_error {
    color: #EE3465;
  }
  
  .profile__save-button {
    background-color: transparent;
    border: none;
    margin: 202px 0 0 0;
    color: #000000;
    text-align: center;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  
  .profile__save-button_type_inactive {
    color: #6B6B6B;
  }
  
  .profile__exit-button {
    background-color: transparent;
    border: none;
    margin: 16px 0 0 0;
    color: #EE3465;
    text-align: center;
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  
  .profile__input-error {
    margin: 5px 0 0 0;
    width: 100%;
    color: #EE3465;
    font-size: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .profile__input-error_visible {
    display: flex;
  }
  
  @media (max-width: 800px) {
    .profile__content {
      padding-top: 234px;
      padding-bottom: 269px;
    }  
  
    .profile__data {
      margin-top: 78px;
    }  
  
    .profile__save-button {
      margin-top: 192px
    }  
  }
  
  @media (max-width: 500px) {
    .profile__content {
      padding-top: 67px;
      padding-bottom: 40px;
    }  
  
    .profile__data {
      margin-top: 63px;
      max-width: 410px; 
      min-width: unset;
      width: 100%;
    }
  
    .profile__item-data {
      max-width: 30ch;
    }
  
    .profile__save-button {
      font-size: 12px;
      margin-top: 360px;
    }
  
    .profile__exit-button {
      font-size: 12px;
    }
  }