.portfolio {
    margin: 0;
    width: 100%;
    background-color: #ffffff;
  }
  
  .portfolio__content {
    margin: 0 auto;
    line-height: 1;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 31px 70px 125px 70px;
  }
  
  .portfolio__title {
    margin: 0;
    color: #8B8B8B;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;  
  }
  
  .portfolio__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding-left: 0;
    margin-top: 45px;
  }
  
  .portfolio__item {
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(223, 223, 223);
  }
  
  .portfolio__item:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
  
  .portfolio__item-name {
    margin: 0;
    color: #000000;
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.2px;  
  }
  
  .portfolio__link {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  
  .portfolio__arrow {
    width: 29px;
    height: 60px;
    background-image: url(../../images/arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
  
  @media (max-width: 800px) {
    .portfolio__content {
      padding: 21px 50px 90px 50px;
    }
  
    .portfolio__title {
      margin-top: 0px;
    }
  
    .portfolio__item-name {
      font-size: 28px;
    }
  }
  
  @media (max-width: 500px) {
    .portfolio__content {
      padding: 0px 14px 70px 14px;
    }
  
    .portfolio__title {
      font-size: 14px;
    }
  
    .portfolio__items {
      margin-top: 40px;
      gap: 20px;
    }  
  
    .portfolio__item {
      padding-bottom: 19px;
    }
    
    .portfolio__item-name {
      margin: 0;
      color: #000000;
      font-size: 18px;
      font-family: Inter;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: -0.72px;
    }
    
    .portfolio__arrow {
      width: 18px;
      height: 28px;
      background-size: 60%;
    }
  }