.techs {
    margin: 0;
    width: 100%;
    background-color: #F5F5F5;
  }
  
  .techs__content {
    margin: 0 auto;
    line-height: 1;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 100px 70px;
  }
  
  .techs__title {
    margin: 0;
    width: 100%;
    text-align: left;
    padding-bottom: 23px;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: #000000;
    font-size: 22px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
  }
  
  .techs__text-title {
    margin: 90px 0 0 0;
    color: #000000;
    text-align: center;
    font-size: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
  }
  
  .techs__text {
    margin: 26px 0 100px 0;
    max-width: 460px;
    color: #000000;
    text-align: center;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
  }
  
  .techs__items {
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(90px, auto));
    grid-template-rows: auto;
    list-style: none;
  }
  
  .techs__item {
    margin: 0;
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    text-decoration: none;
    padding-left: 0;
    background-color: #E8E8E8;
    border-radius: 10px;
  }  
  
  
  @media (max-width: 800px) {
    .techs__content {
      padding: 90px 50px;
    }
  
    .techs__items {
      grid-template-columns: repeat(auto-fit, minmax(84px, auto));
      min-height: 57px;
    }
    
    .techs__text-title {
      margin-top: 80px;
    }
    
    .techs__text {
      margin: 22px 0 81px 0;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.48px;
    }
  
    .techs__item {
      font-size: 12px;
      font-family: Inter;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.48px;
    }
  }
  
  @media (max-width: 500px) {
    .techs__content {
      padding: 70px 18px;
    }
  
    .techs__title {
      min-width: 284px;
      padding-bottom: 28px;
      color: #000000;
      font-size: 18px;
      letter-spacing: -0.72px;
    }
  
    .techs__items {
      max-width: 270px;
    }
  
    .techs__text-title {
      font-size: 30px;
      line-height: normal;
      letter-spacing: -1.2px;
      margin-top: 60px;
    }
    
    .techs__text {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: -0.44px;
      margin-top: 24px;
      margin-bottom: 50px;
    }
  
    .techs__item {
      min-height: 57px;
    }
  }